#nav a {
	color: black;
	padding: 5px 30px 5px 2px;
	transition: color 0.2s;
	transition: background-color 0.2s;
}
#nav a:hover {
	background-color:black;
	color:white;
}
#nav {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	gap:10px;
}
#socials {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap:10px;

	--big-image-size: 3rem;
	--small-image-size: 2rem;
}
#socials a {
	width: var(--big-image-size);
	height: var(--big-image-size);
	display: flex;
	justify-content: center;
	align-content: center;
}
#socials img {
	width: var(--small-image-size);
	transition: width 0.2s;
}
#socials img:hover {
	width: var(--big-image-size);
}
