---
import githubLogo from '../assets/github.png';
import mailLogo from '../assets/mail.png';
---

<div id="container">
	<div id="background">
		<div id="sun"></div>
		<div class="orbit mercury"></div>
		<div class="planet mercury"></div>
		<div class="orbit venus"></div>
		<div class="planet venus"></div>
		<div class="orbit mars"></div>
		<div class="planet mars"></div>
		<div class="orbit uranus"></div>
		<div class="planet uranus"></div>
		<div class="orbit jupiter"></div>
		<div class="planet jupiter"></div>
	</div>
	<main>
		<section id="hero">
			<h1>
				Good Morning and Welcome
			</h1>
			<p>
				You are looking at the website of Talha Qamar. 
				Currently doing my Bachelor's in Electrical Engineering from GIKI.
				I also program in my free-time. Ask me about crows.
			</p>
			<div id="socials">
				<a href="https://github.com/1024moons"><img src={githubLogo.src} alt="github"></img></a>
				<a href="mailto:qamartalha@proton.me"><img src={mailLogo.src} alt="mail"></img></a>
			</div>
		</section>
	</main>
</div>

<style>
	body{
		overflow:hidden;
	}
	#container {
		display: flex;
		flex-direction: row;
		justify-content:space-between;
	}
	#hero {
		width:60%;
		max-width: 900px;
		margin-left: auto;
	}

	#socials img {
		width: 40px;
	}
	#sun {
		width: 480px;
		height: 480px;
		position: absolute;
		bottom: -250px;
		left: -250px;
		border-radius: 50%;
		border: solid 10px;
	}
	.mercury{
		--orbit-radius: 260px;
		--planet-radius: 4px;
		--planet-border-width: 2px;
		--planet-orbit-time: 5s;
	}
	.venus{
		--orbit-radius: 300px;
		--planet-radius: 10px;
		--planet-border-width: 4px;
		--planet-orbit-time: 10s;
	}
	.mars{
		--orbit-radius: 380px;
		--planet-radius: 15px;
		--planet-border-width: 4px;
		--planet-orbit-time: 20s;
	}
	.uranus{
		--orbit-radius: 450px;
		--planet-radius: 8px;
		--planet-border-width: 2px;
		--planet-orbit-time: 50s;
	}
	.jupiter{
		--orbit-radius: 550px;
		--planet-radius: 45px;
		--planet-border-width: 10px;
		--planet-orbit-time: 120s;
	}
	.orbit {
		width:  calc((var(--orbit-radius) * 2) - 4px);
		height: calc((var(--orbit-radius) * 2) - 4px);
		position: absolute;
		bottom: calc(-1 * var(--orbit-radius));
		left: calc(-1 * var(--orbit-radius));
		border-radius: 50%;
		border: dotted 2px;
	}

	.planet {
		width: calc(2 * (var(--planet-radius) - var(--planet-border-width)));
		height: calc(2 * (var(--planet-radius) - var(--planet-border-width)));
		border-radius: 50%;
		border: solid var(--planet-border-width);
		position: absolute;
		left: calc(var(--orbit-radius) - var(--planet-radius));
		bottom: calc(-1 * var(--planet-radius));
		background: white;
		transform-origin: calc(-1 * (var(--orbit-radius) - var(--planet-radius))) var(--planet-radius);
		animation: rotate var(--planet-orbit-time) linear infinite;
	}
	
	@keyframes rotate {
		to {
			transform: rotate(0deg);
		}
		from {
			transform: rotate(360deg);
		}
	}
</style>
