---
import githubLogo from '../assets/github.png';
import mailLogo from '../assets/mail.png';
---

<div id="container">
	<div id="background">
		<div id="sun"></div>
		<div class="orbit mercury"></div>
		<div class="orbit venus"></div>
		<div class="orbit mars"></div>
		<div class="orbit uranus"></div>
		<div class="orbit jupiter"></div>
		<div class="planet mercury"></div>
		<div class="thirdplanet mercury"></div>
		<div class="fourthplanet mercury"></div>
		<div class="antiplanet mercury"></div>
		<div class="planet venus"></div>
		<div class="thirdplanet venus"></div>
		<div class="fourthplanet venus"></div>
		<div class="antiplanet venus"></div>
		<div class="planet mars"></div>
		<div class="thirdplanet mars"></div>
		<div class="fourthplanet mars"></div>
		<div class="antiplanet mars"></div>
		<div class="planet uranus"></div>
		<div class="thirdplanet uranus"></div>
		<div class="fourthplanet uranus"></div>
		<div class="antiplanet uranus"></div>
		<div class="planet jupiter"></div>
		<div class="thirdplanet jupiter"></div>
		<div class="fourthplanet jupiter"></div>
		<div class="antiplanet jupiter"></div>
	</div>
	<main>
		<section id="hero">
			<h1>
				Good Morning and Welcome
			</h1>
			<p>
				You are looking at the website of Talha Qamar. 
				Currently doing my Bachelor's in Electrical Engineering from GIKI.
				I also program in my free-time. Ask me about crows.
			</p>
			<div id="socials">
				<a href="https://github.com/1024moons"><img src={githubLogo.src} alt="github"></img></a>
				<a href="mailto:qamartalha@proton.me"><img src={mailLogo.src} alt="mail"></img></a>
			</div>
		</section>
	</main>
</div>

<style>
	body{
    		overflow: hidden;
		font-size: 20px;
	}
	#container {
		display: flex;
		flex-direction: row;
		justify-content:space-between;
	}
	#hero {
		margin: auto;
		background:white;
		padding: 10px;
	}

	#background {
		z-index: -1;
	}
	#sun {
		width: 180px;
		height: 180px;
		position: absolute;
		bottom: -100px;
		left: -100px;
		border-radius: 50%;
		border: solid 10px;
	}
	.mercury{
		--orbit-radius: 150px;
		--planet-radius: 5px;
		--planet-border-width: 2px;
		--planet-orbit-time: 60s;
	}
	.venus{
		--orbit-radius: 260px;
		--planet-radius: 10px;
		--planet-border-width: 4px;
		--planet-orbit-time: 90s;
	}
	.mars{
		--orbit-radius: 300px;
		--planet-radius: 15px;
		--planet-border-width: 4px;
		--planet-orbit-time: 120s;
	}
	.uranus{
		--orbit-radius: 380px;
		--planet-radius: 8px;
		--planet-border-width: 2px;
		--planet-orbit-time: 180s;
	}
	.jupiter{
		--orbit-radius: 450px;
		--planet-radius: 45px;
		--planet-border-width: 10px;
		--planet-orbit-time: 240s;
	}
	.orbit {
		width:  calc((var(--orbit-radius) * 2) - 4px);
		height: calc((var(--orbit-radius) * 2) - 4px);
		position: absolute;
		bottom: calc(-1 * var(--orbit-radius));
		left: calc(-1 * var(--orbit-radius));
		border-radius: 50%;
		border: dotted 2px;
	}
	.thirdplanet {
		display:none;
	}
	.fourthplanet {
		display:none;
	}
	@media (min-width: 1000px) {
		#hero {
			width:60%;
			max-width: 900px;
			margin-left: auto;
		}
		#sun {
			width: 480px;
			height: 480px;
			position: absolute;
			bottom: -250px;
			left: -250px;
			border-radius: 50%;
			border: solid 10px;
		}
		.mercury{
			--orbit-radius: 260px;
			--planet-radius: 5px;
			--planet-border-width: 2px;
			--planet-orbit-time: 60s;
		}
		.venus{
			--orbit-radius: 300px;
			--planet-radius: 10px;
			--planet-border-width: 4px;
			--planet-orbit-time: 90s;
		}
		.mars{
			--orbit-radius: 380px;
			--planet-radius: 15px;
			--planet-border-width: 4px;
			--planet-orbit-time: 120s;
		}
		.uranus{
			--orbit-radius: 450px;
			--planet-radius: 8px;
			--planet-border-width: 2px;
			--planet-orbit-time: 180s;
		}
		.jupiter{
			--orbit-radius: 550px;
			--planet-radius: 45px;
			--planet-border-width: 10px;
			--planet-orbit-time: 240s;
		}
		.orbit {
			width:  calc((var(--orbit-radius) * 2) - 4px);
			height: calc((var(--orbit-radius) * 2) - 4px);
			position: absolute;
			bottom: calc(-1 * var(--orbit-radius));
			left: calc(-1 * var(--orbit-radius));
			border-radius: 50%;
			border: dotted 2px;
		}
		.thirdplanet {
			width: calc(2 * (var(--planet-radius) - var(--planet-border-width)));
			height: calc(2 * (var(--planet-radius) - var(--planet-border-width)));
			border-radius: 50%;
			border: solid var(--planet-border-width);
			position: absolute;
			left: calc(var(--orbit-radius) - var(--planet-radius));
			bottom: calc(-1 * var(--planet-radius));
			background: white;
			transform-origin: calc(-1 * (var(--orbit-radius) - var(--planet-radius))) var(--planet-radius);
			animation: thirdrotate var(--planet-orbit-time) linear infinite;
			display:block;
		}
		.fourthplanet {
			width: calc(2 * (var(--planet-radius) - var(--planet-border-width)));
			height: calc(2 * (var(--planet-radius) - var(--planet-border-width)));
			border-radius: 50%;
			border: solid var(--planet-border-width);
			position: absolute;
			left: calc(var(--orbit-radius) - var(--planet-radius));
			bottom: calc(-1 * var(--planet-radius));
			background: white;
			transform-origin: calc(-1 * (var(--orbit-radius) - var(--planet-radius))) var(--planet-radius);
			animation: fourthrotate var(--planet-orbit-time) linear infinite;
			display:block;
		}
	}


	#socials img {
		width: 40px;
	}

	.antiplanet {
		width: calc(2 * (var(--planet-radius) - var(--planet-border-width)));
		height: calc(2 * (var(--planet-radius) - var(--planet-border-width)));
		border-radius: 50%;
		border: solid var(--planet-border-width);
		position: absolute;
		left: calc(var(--orbit-radius) - var(--planet-radius));
		bottom: calc(-1 * var(--planet-radius));
		background: white;
		transform-origin: calc(-1 * (var(--orbit-radius) - var(--planet-radius))) var(--planet-radius);
		animation: antirotate var(--planet-orbit-time) linear infinite;
	}
	.planet {
		width: calc(2 * (var(--planet-radius) - var(--planet-border-width)));
		height: calc(2 * (var(--planet-radius) - var(--planet-border-width)));
		border-radius: 50%;
		border: solid var(--planet-border-width);
		position: absolute;
		left: calc(var(--orbit-radius) - var(--planet-radius));
		bottom: calc(-1 * var(--planet-radius));
		background: white;
		transform-origin: calc(-1 * (var(--orbit-radius) - var(--planet-radius))) var(--planet-radius);
		animation: rotate var(--planet-orbit-time) linear infinite;
	}
	
	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	@keyframes antirotate {
		from {
			transform: rotate(180deg);
		}
		to {
			transform: rotate(540deg);
		}
	}
	@keyframes thirdrotate {
		from {
			transform: rotate(90deg);
		}
		to {
			transform: rotate(470deg);
		}
	}
	@keyframes fourthrotate {
		from {
			transform: rotate(270deg);
		}
		to {
			transform: rotate(630deg);
		}
	}
</style>
