<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpeg" href="/favicon.jpg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap" rel="stylesheet">
		<title>1024 moons</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		font-family: "EB Garamond", serif;
		font-optical-sizing: auto;
		font-weight: 600;
		font-style: normal;
	}
</style>
